.global {
    position: relative;
    z-index: 99;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #161A1D 0%, #181E22 30.21%, #1A2227 69.79%, #1C262C 100%);
}

.subGlobalLeft {
    display: flex;
    gap: 70px;
}

.title {
    color: var(--faux-blanc);
    font-family: 'GilroySemiBold';
    font-size: 16px;
    border-bottom: 4px solid #2906FF;
    width: min-content;
}

.button {
    margin: 30px 0;
    cursor: pointer;
}

.subGlobal { 
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    max-width: var(--max-width);
}

.subGlobalRight > .col > div {
    margin: 10px 0;
}

@media (max-width: 800px) {
    .subGlobal {
        margin: 0 30px;
    }
}

@media (max-width: 560px) {
    .subGlobal {
        flex-direction: column;
    }
    .subGlobalLeft {
        flex-direction: column;
        gap: 0;
        grid-gap: 0;
    }
}